body {
  /* background-color: #edeef0; */
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.mrts-nav {
    height: 2.5rem;
}

.app {
    /* background-color: #edeef0; */
    margin: 0px;
}

.webmap {
    height: 810px;
    width: 100%;
}

.dx-datagrid-text-content {
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
}

.dx-pivotgrid-vertical-headers span {
    color: black;
    /* font-weight: bold; */
    font-style: normal;
}

/* dx-pivotgrid-vertical-headers {
    font-weight: bold;
    font-style: normal;
    background-color: #1E48A3;
}*/

.dx-pivotgrid-horizontal-headers {
    /* font-weight: bold; */
    font-style: normal;
    background-color: white;
}


.dx-pivotgrid-vertical-headers span {
    color: black;
    /* font-weight: bold;*/
    font-style: normal;
}

.dx-pivotgrid-horizontal-headers span {
    color: black;
    font-style: normal;
}
