body {
    /* background-color: #edeef0; */
}

.side-nav.wide {
    width: 260px
}

.side-nav.wide .collapsible a {
    padding-left: 0.2rem;
}

.side-nav .logo-wrapper a {
    height: 180px;
    /*margin-bottom: 10px;*/
}

.side-nav .logo-wrapper {
    height: 180px;
    margin-top: -10px;
    margin-left: 10px;
}

.logo-wrapper {
    margin-bottom: 10px;
}

.custom-font {
    font-size: 14px;
}

.slogan {
    margin-left: 2.5rem;
}

.logo {
    height: 2rem;
    width: 2rem;
}

.mrts-nav {
    height: 2.5rem;
    margin-bottom: 4rem;
}

.app {
    /* background-color: #edeef0; */
    margin: 0;
}

.webmap {
    min-height: 85vh;
    padding: 0;
    margin: 0;
}

.dx-datagrid-text-content {
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
}

.dx-pivotgrid-vertical-headers span {
    color: black;
    /* font-weight: bold; */
    font-style: normal;
}

.dx-pivotgrid-horizontal-headers {
    /* font-weight: bold; */
    font-style: normal;
    background-color: white;
}


.dx-pivotgrid-vertical-headers span {
    color: black;
    /* font-weight: bold;*/
    font-style: normal;
}

.dx-pivotgrid-horizontal-headers span {
    color: black;
    font-style: normal;
}
